.texthero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
  align-items: center;
}

.heropresentation {
  align-self: auto;
}

.buttonstart {
  align-self: flex-end;
  color: #f7f7f7 !important;
  font-size: 14px;
  text-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #ffffff;
  padding: 10px 25px;
  border-radius: 0px;
  background: #000000;
}

.buttonstart:hover {
  color: #000000 !important;
  border: 1px solid #000000;
  background: #ffffff;
}


