.VictoryPage{
margin-top: 40px;
}

.VictoryP{
  display: flex;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 40px;
  font-family: "Dum1";
}

.VictoryGif{
  display: flex;
  justify-content: center;
  text-align: center;
}

.VictoryButton{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.Babyyoda{
  width: 250px;
  height: 250px;
  margin-left: 80%;
}