.sortingHat {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
  width: 500px;
  height: auto;
  text-align: center;
  display: flex;
}

.main-title {
  font-family: 'Harry P',serif;
  color : white;
  font-size: 80px;
  display: flex;
  justify-content: center;
}

.hatchoice {
  width: 120%;
  height: auto;
  text-align: center;
}

.hat {
  height: auto;
  width: 70%;
}
.sortButton {
  color: #f7f7f7 !important;
  font-size: 32px;
  text-shadow: 0px 0px 0px #000000;
  box-shadow: 0px 0px 0px #ffffff;
  background: #000000;
  padding: 2px 10px;
  font-family: 'Harry P';
  display: inline-block;
  margin: 20px 0px;
  text-decoration: none;
  vertical-align: middle;
}
.sortButton:hover {
  color: #000000 !important;
  border: 1px solid #000000;
  background: #ffffff;
}

.Gryffindor {
  background-image: url("../../images/wallpaperhouse/gryffindor-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
  transition: transform 2s;
}
.Gryffindor  {
-ms-transform: scale(3.5); /* IE 9 */
-webkit-transform: scale(3.5); /* Safari 3-8 */
transform: scale(3.5);
}



.Hufflepuff {
  background-image: url("../../images/wallpaperhouse/hufflepuff-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
  transition: transform 2s;
}
.Hufflepuff  {
-ms-transform: scale(3.5); /* IE 9 */
-webkit-transform: scale(3.5); /* Safari 3-8 */
transform: scale(3.5);
}


.Ravenclaw {
  background-image: url("../../images/wallpaperhouse/ravenclaw-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
  transition: transform 2s;
}
.Ravenclaw {
-ms-transform: scale(3.5); /* IE 9 */
-webkit-transform: scale(3.5); /* Safari 3-8 */
transform: scale(3.5);
}


.Slytherin {
  background-image: url("../../images/wallpaperhouse/slytherin-banner.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  border-radius: 10px;
  padding : auto 10px;
  transition: transform 2s;
}
.Slytherin {
-ms-transform: scale(3.5); /* IE 9 */
-webkit-transform: scale(3.5); /* Safari 3-8 */
transform: scale(3.5);
}


.messageHouse{
  display :flex;
  text-align: center;
  margin-top: 25%;
  margin-left: 10px;
  padding-left : 20px;
  font-size: 60px;
  font-family: 'dum1',serif;
  font-size: 60px;
  color: #fff;
}
