* {
  box-sizing: border-box;
}

.FormBody {
  height: 97vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Form {
  display: flex;
  flex-direction: column;
  width: 60%;
  min-width: 100px;
  min-height: 400px;
  padding: 20px 40px 40px 40px;
  border-radius: 6px;
  box-shadow: 0px 8px 36px #222;
  background-color: RGB(224, 211, 175);
}

.FormBody h1 {
  display: flex;
  justify-content: center;
  font-family: "Harry P", sans-serif;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 0.25em;
  color: #222;
  letter-spacing: 2px;
}

.FormBody div {
  margin: 0.5em 0;
}

.FormBody label {
  color: #444;
  font-weight: lighter;
  font-size: 24px;
}

.FormBody input, textarea{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 10px 10px;
  border-radius: 5px;
  border: 1px solid #d6d1d5;
  background-color: rgb(252, 247, 245);
}

.FormBody button {
  min-width: 100%;
  cursor: pointer;
  margin-right: 0.25em;
  margin-top: 1em;
  padding: 	0.3em;
  border: 1px solid #000000;
  background: #000000;
  color: #fefefe;
  font-size: 32px;
}
.FormBody button:hover {
  background: #ffffff;
  color: #000000 !important;
  border: 1px solid #000000;
}
.FormBody button:disabled {
  opacity: 0.2;
}