.body {
  background-size: contain;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;

}
.housechoice {
  width: 850px;
  height: 370px;
  margin: 1em auto;
  display: flex;
}

.house {
  height: 300px;
  flex-grow: 1;
  font-family: Harry Potter, Arial;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110px 150px;
  border-bottom: 30px solid transparent;
  border-image: url(https://raw.githubusercontent.com/NestorPlasencia/img/master/border-triangle.png) 0% 0% 100% 0% stretch;
  transition:  0.75s;
  width: 220px;
}

.house:hover {
  height: 370px;
  font-size: 30px;
}

#Gryffindor {
  
  background-color: #A80102;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Gryffindor.png");
}

#Hufflepuff {
  background-color: #786254;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Hufflepuff.png");
}

#Ravenclaw {
  background-color: #31446F;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Ravenclaw.png");
}

#Slytherin {
  background-color: #097146;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Slytherin.png");
}


.Embleme-president{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.card img {
  max-width: 100%;
  height: 450px;
}

.welcomeHouse{
  margin: 0;
}


body {
  padding: 0;
  
}

