
.card,.card-stretch {
  background: linear-gradient(315deg, #9d523c 0%, #f2a65a 74%);
  flex: 0 0 300px;
  padding: 5px;
  margin: 2em;
  border-radius: 20px;
  box-shadow: 0 0 0 14px #333;
  text-align: center;
  position: relative;
  image-rendering: auto;
  transition:all 0.3s ease;
  font-family: "Dum1";
}

.monster.card-group{

  justify-content: center;
  margin-top: 1em;
  margin-left: 14%;
  align-items: center;
  width: 70%;
  background-image: url(./../../images/bg-paper.jpg);
}

.card.card-stretch:hover
{
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}


.monster img {
  max-width: 100%;
  height: 450px;
}

