.spellPotionbackground {
  background-image: url('../../images/Library.jpg');
}

.spellpotionbutton {
  padding: 10px 40px;
  float: left;
  border-radius: 10px;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  color: #ffffff;
  text-decoration: none;
  background-color: #3498DB;
  border-bottom: 5px solid #2980B9;
  text-shadow: 0px -2px #2980B9;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
}

.spellpotionbutton:active {
  transform: translate(0px,5px);
  -webkit-transform: translate(0px,5px);
  border-bottom: 1px solid;
}

.linkStyle{
  text-decoration: none;
  color: black;
}
.buttonDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;

}

