.flexbox {

  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  margin: 20px;
}

.search > h4 {
  font-weight: normal;
}

.search > h2,
.search > h4 {
  color: black;
  margin-bottom: 1px;
  text-shadow: 0 1px #191b1b;
}

.search > div {
  display: inline-block;
  position: relative;
  filter: drop-shadow(0 1px #0c0c0c);
}

.search > div:after {
  content: "";
  background: black;
  width: 4px;
  height: 20px;
  position: absolute;
  top: 35px;
  right: 2px;
  transform: rotate(135deg);
}

.search > div > input {
  color: black;
  font-size: 16px;
  background: transparent;
  width: 25px;
  height: 30px;
  padding: 15px;
  border: solid 3px black;
  outline: none;
  border-radius: 35px;
  transition: width 0.5s;
}

.search > div > input::placeholder {
  color: black;
  opacity: 0;
  transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
  opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
  width: 250px;
}
