
.hero.gryffindor{
  background-image: url("../../images/harry-potter-2240526_1280.jpg");
  background-size: cover;
}
.hero.hufflepuff{
  background-image: url("../../images/wp3546063-hufflepuffs-wallpapers.jpg");
  background-size: cover;
}
.hero.ravenclaw{
  background-image: url("../../images/tumblr_oyra4uUth91wx5fjeo1_1280.jpg");
  background-size: cover;
}
.hero.slytherin{
  background-image: url("../../images/wp3897879-slytherin-house-wallpapers.jpg");
  background-size: cover;
}

.Embleme-president{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  font-family: "Dum1";
}



.welcomeHouse{
  margin: 0;
  font-family: 'Harry P',serif;
  padding: .5em 0;
}

.embleme {
  margin-top: 50px;
  margin-left: 100px;
  width: 75%;
  height: 450px;
  
}


gryffindor-gold{color: #c6a513};
gryffindor-red{color: #6d0000};
slytherin-grey{color: #7a7a7a};
slytherin-green{color: #0b3a07};
ravenclaw-grey{color: #7a7a7a};
ravenclaw-blue{color: #191c68};
hufflepuff-black{color: #161616};
hufflepuff-gold{color: #c6a513};

body {
  padding: 0;
  
}
.gryffindor{

  background: repeating-linear-gradient(
    45deg,
    #c6a513,
    #c6a513 3px,
    #6d0000 3px,
    #6d0000 9px,
    #c6a513 9px,
    #c6a513 10px,
    #6d0000 10px,
    #6d0000 30px);
}

.slytherin{
  background: repeating-linear-gradient(
    45deg,
    #7a7a7a,
    #7a7a7a 3px,
    #0b3a07 3px,
    #0b3a07 9px,
    #7a7a7a 9px,
    #7a7a7a 10px,
    #0b3a07 10px,
    #0b3a07 30px
  );
}

.ravenclaw {

  background: repeating-linear-gradient(
    45deg,
    #7a7a7a,
    #7a7a7a 3px,
    #191c68 3px,
    #191c68 9px,
    #7a7a7a 9px,
    #7a7a7a 10px,
    #191c68 10px,
    #191c68 30px
  );
}

.hufflepuff {
  background: repeating-linear-gradient(
    45deg,
    #161616,
    #161616 3px,
    #c6a513 3px,
    #c6a513 9px,
    #161616 9px,
    #161616 10px,
    #c6a513 10px,
    #c6a513 30px
  );
}

.selectPersonnage{

  background-image: url("../../images/bg-paper.jpg");
  background-attachment: fixed;
}

@media (max-width: 576px) { 
  .embleme {
    margin: 0;
    width: 75%;
    height: 250px;
    
  }
  

  
  .Embleme-president{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: "Dum1";
  }

  .col-2 {
    width: 70%;
    margin: auto;
  }

  .col-4{
    width: 70%;
    margin: auto;
  }
 }