*{
  font-family: "Dum1";
}

.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 20px 50px;
  position: absolute;
  bottom: 0;
}

.footer-distributed .footer-left p {
  color: #8f9296;
  font-size: 18px;
  margin: 0;
}

.footer-distributed p.footer-links {
  font-size: 24px;
  color: #ffffff;
  padding: 0;
  transition: ease .25s;
}

.footer-distributed p.footer-links Link {
  display: inline-block;
  line-height: 1.8;
  color: inherit;
  transition: ease .25s;
}


