.potionbackground {
  font-family: "Comfortaa", sans-serif;
  background-image: url('../../images/Library.jpg');
  color: #FFFFFF;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 4em auto 8em;
  display: flex;
  flex-wrap: wrap;
}
.text{
  overflow: hidden;
  max-width: 75ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

h2{
  font-size: 35px;
  overflow: hidden;
  max-width: 75ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.spell.card{
  background: #333;
}
.spell.card img{
  max-width: 100%;
  height: 200px;
}

.spell-card {
  background: linear-gradient(315deg, #9d523c 0%, #f2a65a 74%);
  flex: 0 0 300px;
  padding: 5px;
  margin: 2em;
  border-radius: 20px;
  box-shadow: 0 0 0 14px #333;
  text-align: center;
  position: relative;
}
.spell-card:before {
  font-family: "Cinzel";
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.5px;
  border-radius: 20px;
  background: linear-gradient(to top, #9d523c 0%, #f2a65a 74%);
  position: absolute;
  z-index: 10;
  max-width: 225px;
  top: -8px;
  padding: 5px;
  left: 0;
  right: 0;
  margin: auto;
}
.spell-card__inner {
  border-radius: 17px;
  overflow: hidden;
  background: #333;
}
.spell-card h5 {
  font-family: "Cinzel Decorative", "Bahianita";
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 15px;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.spell-card p {
  font-family: "Cinzel", "Alice";
  font-size: 16px;
  width: 90%;
  margin: 0 auto 20px;
  min-height: 45px;
}
.spell-card__shape {
  width: 100%;
  height: 300px;
  background: #333;
  display: grid;
  place-items: center;
  position: relative;
  margin-top: 20px;
}
.spell-card:hover {
  cursor: pointer;
}
