@font-face {
  font-family: 'Harry P';
  src: local('Harry P'), url('./fonts/Harryp/HARRYP__.ttf') format("truetype");
  font-family: 'dum1';
  src: local('dum1'), url('./fonts/Dumbledor/dum1.ttf') format("truetype");
}
.linkStyle:hover{
  text-decoration: none;
  color: rgb(212, 158, 41);
}
a:hover{
  text-decoration: none;
  color: rgb(212, 158, 41);
}

.FooterStyle{
  position: relative;
  min-height: 348px;
}