.body {
  background-image: url("bg-paper.jpg");
  background-size: contain;
  text-shadow: 0 1px 2px rgba(0,0,0,0.2);
  text-align: center;

}
.housechoice {
  width: 850px;
  height: 370px;
  margin: 1em auto;
  display: flex;
}

.house {
  height: 300px;
  flex-grow: 1;
  font-family: Harry Potter, Arial;
  color: white;
  text-align: center;
  font-size: 18px;
  padding-top: 15px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 110px 150px;
  border-bottom: 30px solid transparent;
  border-image: url(https://raw.githubusercontent.com/NestorPlasencia/img/master/border-triangle.png) 0% 0% 100% 0% stretch;
  transition:  0.75s;
}

.house:hover {
  height: 370px;
  font-size: 30px;
}

#Gryffindor {
  
  background-color: #A80102;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Gryffindor.png");
}

#Hufflepuff {
  background-color: #786254;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Hufflepuff.png");
}

#Ravenclaw {
  background-color: #31446F;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Ravenclaw.png");
}

#Slytherin {
  background-color: #097146;
  background-image: url("https://raw.githubusercontent.com/NestorPlasencia/img/master/Slytherin.png");
}

.hero.hufflepuff{
  background-image: url("wp3546063-hufflepuffs-wallpapers.jpg");
  background-size: cover;
}

.Embleme-president{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.card img {
  max-width: 100%;
  height: 450px;
}

.welcomeHouse{
  margin: 0;
}

.embleme {
  margin-top: 50px;
  margin-left: 0px;
  height: 500px;
  
}


gryffindor-gold{color: #c6a513};
gryffindor-red{color: #6d0000};
slytherin-grey{color: #7a7a7a};
slytherin-green{color: #0b3a07};
ravenclaw-grey{color: #7a7a7a};
ravenclaw-blue{color: #191c68};
hufflepuff-black{color: #161616};
hufflepuff-gold{color: #c6a513};

body {
  padding: 0;
  
}
.gryffindor {

  background: repeating-linear-gradient(
    45deg,
    #c6a513,
    #c6a513 3px,
    #6d0000 3px,
    #6d0000 9px,
    #c6a513 9px,
    #c6a513 10px,
    #6d0000 10px,
    #6d0000 30px);
}

.slytherin {

  background: repeating-linear-gradient(
    45deg,
    #7a7a7a,
    #7a7a7a 3px,
    #0b3a07 3px,
    #0b3a07 9px,
    #7a7a7a 9px,
    #7a7a7a 10px,
    #0b3a07 10px,
    #0b3a07 30px,
  );
}

.ravenclaw {

  background: repeating-linear-gradient(
    45deg,
    #7a7a7a,
    #7a7a7a 3px,
    #191c68 3px,
    #191c68 9px,
    #7a7a7a 9px,
    #7a7a7a 10px,
    #191c68 10px,
    #191c68 30px,
  );
}

.hufflepuff {

  background: repeating-linear-gradient(
    45deg,
    #161616,
    #161616 3px,
    #c6a513 3px,
    #c6a513 9px,
    #161616 9px,
    #161616 10px,
    #c6a513 10px,
    #c6a513 30px
  );
}