.card,.card-stretch {
  background: linear-gradient(315deg, #9d523c 0%, #f2a65a 74%);
  flex: 0 0 300px;
  padding: 5px;
  margin: 3em;
  border-radius: 20px;
  box-shadow: 0 0 0 14px #333;
  text-align: center;
  position: relative;
  image-rendering: auto;
  transition:all 0.2s ease;
  font-family: "Dum1";
}



.card.card-stretch:hover
{
  -webkit-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}


.card img {
  max-width: 100%;
  height: 500px;
}


@media (max-width: 576px) { 
  .card img {
    max-width: 100%;
    height: 200px;
  }

  .col-4.px-4{
width: 100%;
    
  }
  
  }